.container {
    margin-right: 50px;
    margin-left: 50px;
    
}
button {
    padding: 10px 10px;
    height: 3em;
    background-color: #57dada;
    color: black;
    border-radius: 5px;
    border: 0;
}
button:hover, button:focus {
    background-color: #44aaaa;
}

input {
    padding: 5px 10px 5px 20px;
}
ul {
    list-style-type: none;
    padding-left: 0;
}